header {
    background: #070707be; 
    color: #fff;
    text-align: center; 
    font-family: "EB Garamond", serif;


}
header, main, footer {
    padding: 3em;
}
letra{
    font-size: 20px;
}
img{
    display: block;
  margin: 0 auto;
  color: #312c2c57;
}
h2,h3,h4{

    color:rgba(169, 169, 169, 0.582);
    font-family: "EB Garamond", serif;
    font-size: 70px;
    text-align: center; 
    
}
segundo{
    font-family: "EB Garamond" , serif; 
    font-size: 30px;
    color: rgba(56, 44, 44, 0.87);
    
}
body{
        background-image: url("../img/fondo1.svg"); color: #000000ea;
             background-size: cover;             
             background-repeat: no-repeat;       
         background-position: center center; 
 
}
h1:hover{
    color:rgba(62, 65, 57, 0.945)
}
div{
    background-color: rgba(0, 0, 0, 0.486);
}
p{
   color:lab(78.92% 8.27 -20.32 / 0.219);
    font-family: "EB Garamond" , serif; 
    font-size: 30px;
    text-align: center;
}
nav{
   color:rgba(72, 36, 114, 0.76);
   list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    font-size: 20px ;
   
}